# credenciales.env.example

GOOGLE_SHEETS_CREDS=path/to/your/credentials.json
SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/your_spreadsheet_id/edit
EMAIL_ORIGEN=your_email@gmail.com
EMAIL_PASSWORD=your_email_password
